form(action='/data', method='POST')
			input(type='text', placeholder='Id', name='id')
			input(type='text', placeholder='Name', name='name')
			input(type='text', placeholder='Surname', name='surname')
			input(type='text', placeholder='Age', name='age')
			button(type='submit') Submit