doctype html
html(lang='en')
  head
    title Form about student
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
  body(style={'font-size': '20px'})
    div.container.text-center
      .h1(style={'color': '#4682B4'}) Input data about students
      form.form-horizontal(role='form',action='/data', method='POST')
        .form-group
          label.col-sm-2.control-label(for='input_id') Number
          .col-sm-10
            input#input_id.form-control(type='text', placeholder='Number', name='id')
        .form-group
          label.col-sm-2.control-label(for='input_name') Name
          .col-sm-10
            input#input_name.form-control(type='text', placeholder='Name', name='name')
        .form-group
          label.col-sm-2.control-label(for='input_surname') Surname
          .col-sm-10
            input#input_surname.form-control(type='text', placeholder='Surname', name='surname')
        .form-group
          label.col-sm-2.control-label(for='input_age') Age
          .col-sm-10
            input#input_age.form-control(type='text', placeholder='Age', name='age')
        .form-group
          .col-sm-10
          button(class='btn-primary btn-info', type='submit' ) Submit
        .form-group
          .col-sm-10.col-sm-offset-2
    div.container
      a(class='btn  btn-info btn-lg', href='/') Back to table
      